/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 @font-face {  
	font-family: gotham ;  
	src: url( /gotham.otf )  format("opentype");  
} 
html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	overflow:hidden;
}
A:link {text-decoration: none; color:#DDD;}
A:visited {text-decoration: none; color:#DDD;}
A:active {text-decoration: none;color:#DDD;}
A:hover {text-decoration:none;color:#DDD;}

#map_canvas{
	height:100%;
	width:100%;
	z-index: 0;
}
#logo{
	position:fixed;
	margin:0;
	padding:0;
	left:40px;
	bottom:100px;
	width:210px;
	height:223px;
	background-color:white;
	box-shadow: 0 8px 6px -6px black;
}
#up{
	position:fixed;
	top:0px;
	width:100%;
	height:30px;
	background-color:#191436;
}
#member{
	position:relative;
	width:400px;
	float:left;
	text-align:left;
}
#search{
	display: block;
	text-align:right;
	float:right;
}
#bottom{
	position:fixed;
	bottom:0px;
	width:100%;
	height:131px;
	background-image: url(/welle.png);
}
#wrapper{
	width:700px;
	text-align:center;
	margin: 0px auto;
}
#menu{
	position: fixed;
	left:40px;
	width:200px;
	text-align:left;
	float: left;
}
#content{
	position:relative;
	width:400px;
	float:right;
}

#notice{
	position:fixed;
	margin-left:-105px;
	padding:0;
	left:50%;
	top:100px;
	width:210px;
}
#dialog-message{
	display: none;
	z-index: 100;
	background-color: white;
}