/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require jquery.ui.all
 */
 @font-face {  
	font-family: gotham ;  
	src: url( /gotham.otf )  format("opentype");  
} 
html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	overflow:hidden;
}
A:link {text-decoration: none; color:#DDD;}
A:visited {text-decoration: none; color:#DDD;}
A:active {text-decoration: none;color:#DDD;}
A:hover {text-decoration:none;color:#DDD;}

#map_canvas{
	height:98%;
	width:80%;
	z-index: 0;
	float: right;
}
#left{
	height: 98%;
	width: 20%;
	z-index: 0;
	float: left;
	background-image: url(/linksblau.png), white;
	background-position: center bottom, center top;
}

#lefttop{
}
#mitte{
	position: fixed;
	top:50%;
	left:70%;
	margin-left: -37%;
	margin-top: -35%;
	width: 50%;
	height: 50%;
	z-index: 3;
}

#bottom{
	clear:both;
	width: 100%;
	height: 2%;
	background-color: #cd5950;
}
#notice{
	position:fixed;
	margin-left:-105px;
	padding:0;
	left:50%;
	top:100px;
	width:210px;
}
#dialog-message{
	display: none;
	z-index: 100;
	background-color: white;
}
.ui-accordion-header{
	background-image: url(/dr.gif), url(/dr2.gif);
	background-position: center right, center left;
	background-repeat: no-repeat;
}