#content{
	position:fixed; 
	margin:0;
	padding:0;
	left:50%;
	bottom:0px;
	width:500px;
	margin-left:-250px;
	height:100px;
	background-color:white;
	box-shadow: 0 8px 6px -6px black;z-index:1;
	text-align:left;
}
