<%= stylesheet_link_tag "create" %>
<script> 
 //var a_javascript_array = new Array(<%= @kname.join(",").html_safe %>);
 var ar = <%= @kname.to_json.html_safe %>
initmapsfunctions(ar);
savemap();
	$(function() {
		$( "#sortable" ).sortable();
		$( "#sortable" ).disableSelection();
	});
</script>
<style>
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }
	</style>
<div id="directionsPanel">
<form id="form1">
Map Name: <input id="mapname"type="text" name="mapname" value="" /><br />
</form>
	<div id="saveme">speichern</div>
	<ul id="sortable">
		
  </ul>
</div>