<%= stylesheet_link_tag "map" %>
<script> 
 //var a_javascript_array = new Array(<%= @kname.join(",").html_safe %>);
 var ar = <%= @kname.to_json.html_safe %>
initmapsfunctions(ar);
savemap();
</script>
<div id="directionsPanel">
<form id="form1">
Map Name: <input id="mapname"type="text" name="mapname" value="" /><br />
</form>
<div id="saveme">speichern</div>
</div>