<%= stylesheet_link_tag "create" %>
<script> 
 //var a_javascript_array = new Array(<%= @kname.join(",").html_safe %>);
 var ar = <%= @kname.to_json.html_safe %>
createeditmaps(ar);
//savemap();
</script>

<div id="dialog-message">
	<p>Bitte gebem sie dem Ort einen Title und Dr[cken] sie auf speichern
	</p>
</div>
<div id="directionsPanel">
<form id="form1">
Map Name: <input id="mapname"type="text" name="mapname" value="" /><br />
</form>
Ihre Marker
<ul id="markerlist">
</ul>
<div id="saveme">speichern</div>
</div>